# -----------------------------
# Python General
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# -----------------------------
# Packaging / Build files
# -----------------------------
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt

# -----------------------------
# PyInstaller
# -----------------------------
*.manifest
*.spec

# -----------------------------
# Test / Coverage
# -----------------------------
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# -----------------------------
# Virtual Environments
# -----------------------------
.venv/
venv/
venv_air_painter/
env/
ENV/
.env
.env.*
VENV/
venv.bak/
env.bak/

# -----------------------------
# Visual Studio Code
# -----------------------------
.vscode/
*.code-workspace
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Backup Files
# -----------------------------
*.bak
*.orig
